<div class="row">
  <div class="col-md-12">
    <h2>Decoration Name</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <button class="btn btn-primary dropdown-toggle">Manage Decoration <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li class="list-group-item">To Shopping list</li>
        <li class="list-group-item">Edit Decoration</li>
        <li class="list-group-item">Delete Decoration</li>
      </ul>
  </div>  
</div>

<div class="row">
  <div class="col-md-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Elements
  </div>
</div>