<div class="row">
  <div class="col-md-8">

    <form action="#">
      
      <div class="row">

        <div class="col-sm-7">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name">
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <label for="amount">Amount</label>
            <input type="text" class="form-control" id="amount">
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-success">Add</button>
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-primary">Clear</button>
        </div>
      </div>

    </form>

  </div>
</div>